# Python
backend/.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node
frontend/node_modules/

# Build files
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3

# VS Code
.vscode/