fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-core
pydantic-settings
python-dotenv
duckduckgo-search
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
langgraph
langchain-community
beautifulsoup4
requests
tavily-python
sympy
