fastapi
uvicorn[standard]
langchain
langchain-groq
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
pydantic-settings
python-dotenv
langgraph
tavily-python
sympy
PyMuPDF
pdfplumber
python-docx
python-multipart